CODEMAGIC_API_TOKEN=
CODEMAGIC_APP_ID=
CODEMAGIC_ASC_INTEGRATION_NAME=Cialai ASC API Key
APPLE_TEAM_ID=F3A8C9VTYD
IOS_BUNDLE_ID=br.com.ordinum.cialai
APP_STORE_APP_ID=
APP_STORE_CONNECT_ISSUER_ID=
APP_STORE_CONNECT_KEY_ID=
APP_STORE_CONNECT_PRIVATE_KEY_PATH=
GOOGLE_PLAY_ACCOUNT_ID=7730543760992383205
ANDROID_PACKAGE=br.com.ordinum.cialai
GOOGLE_PLAY_SERVICE_ACCOUNT_JSON_PATH=
